<footer class="main-footer">
    <h2 class="footer-sobre">SOBRE NOSOTROS</h2>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2 class="usuario">LUISINA GARCIA</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>MARIA JOSE SICCO</h2>
                    <p>Asesora de ventas online </p>
                    <p>mjsicco@hotmail.com </p>
                    <p>+5493794526494</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>CATALINA MARTINEZ</h2>
                    <p class="footerDesc">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                        siempre protegido.</p>
                </article>
            </div>
        </div>
    </div>
</footer>