<header class="main-header">
    <div class="banner">
		<img class="background"src="images/headers1.jpg" alt="Banner de ofertas">
	</div>

    <div class="containers">

        <div class="shop">
            
            <ul class="left-navbar">
                <li><a href="/">Shop</a></li>
                <!-- solo logueado <li><a href="">Cargar productos</a></li> -->
            </ul>
        </div>
        cc
        <div class="photo">
            <a href="/" class="main-header_home-link">
                
            </a>    
        </div>

        <div class="right-side">
         
            <form action="/" method="GET" class="search-form">
                <!--<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">-->
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>

            <ul class="right-navbar">
                <!-- Solo logueado <li><a href="profile.html">
                        Nombre del usuario <i class="fas fa-user"></i>
                    </a>
                    </li>
                    <li>
                    <form action="" method="post">
                        <button class="logout" type="submit">
                            Cerrar sesión <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                    </li> -->
                <li>
                    <a href="/users/register"> <i class="far fa-address-card"></i>
                    </a>
                </li>
                    <li>
                        <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                </ul>
                
            </div>

            <button class="btn-toggle-navbar">
                <i class="fas fa-bars"> </i>
            </button>
        
    </div>
    <div class="face">
        <img class="photoface"src="images/face.jpg" alt="photos de ofertas">
    </div>
    <div class="back">
        <img src="//cdn.shopify.com/s/files/1/0341/3458/9485/files/FB199850_Sun_Stalkr_Palette_Launch_033122_HP_PRIMARY_SLIDER_DESKTOP_BULK_1200x1500_54993674-0804-460a-9041-573df61ed141_1500x.jpg?v=1648684198" srcset="" data-fit="cover" class="img__el">
        <div class="textoencima">
            ¡NUEVOS INGRESOS! 
        </div>     
        <div class="textoencima2">
            DISFRUTA DE LAS PROMOCIONES Y BENEFICIOS DE NUESTROS NUEVOS PRODUCTOS. CONTAMOS CON UN 20% DE DESCUENTO EN CREMAS FACIALES
        </div>
    </div>
    
    

</header>