<header class="main-header">
    <div class="containers">

        <div class="shop">
            <ul class="left-navbar">
                <li><a href="/">Shop</a></li>
                <!-- solo logueado <li><a href="">Cargar productos</a></li> -->
            </ul>
        </div>
        
        <div class="photo">
            <a href="/" class="main-header_home-link">
                
            </a>    
        </div>

        <div class="right-side">
       
            <form action="/" method="GET" class="search-form">
                <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>

            <ul class="right-navbar">
                <!-- Solo logueado <li><a href="profile.html">
                        Nombre del usuario <i class="fas fa-user"></i>
                    </a>
                    </li>
                    <li>
                    <form action="" method="post">
                        <button class="logout" type="submit">
                            Cerrar sesión <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                    </li> -->
                <li>
                    <a href="/users/register"> <i class="far fa-address-card"></i>
                    </a>
                </li>
                    <li>
                        <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                </ul>
                
            </div>

                
           

            <button class="btn-toggle-navbar">
                <i class="fas fa-bars"> </i>
            </button>
        
    </div>
</header>