<header class="main-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" class="main-header_home-link">
                    <img src="/images/logo.jpg">
                </a>
            </div>

            <div class="col-7 col-md-6">
                <form action="/" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y más"
                        class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>

        </div>

        <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li class="logueado"><a href="/">TODOS LOS PRODUCTOS</a></li>
            </ul>

            <ul class="right-navbar">
                <% if(locals.users !==undefined){%>
                    <li><a href="/users/profile/<%= locals.users.id_user %>">
                            <%= users.username %>
                                <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li><a href="/product/productadd">CARGAR PRODUCTOS</a></li>
                    <li><a href="/users/profileedit">EDITAR PERFIL</a></li>
                    <li class="logueado">
                        <a href="/users/logout">SALIR<i class="fas fa-sign-in-alt"></i></a>
                    </li>

                    <%} else {%>
                        <li class="logueado">
                            <a href="/users/register">CREA TU CUENTA <i class="far fa-address-card"></i>
                            </a>
                        </li>
                        <li class="logueado">
                            <a href="/users/login">INGRESÁ <i class="fas fa-sign-in-alt"></i></a>
                        </li>
                        <%}%>
            </ul>
        </nav>

    </div>
    <div>
        <% if(locals.users !==undefined){%>
            <p class="logueado">Bienvenido/a <%= users.email %>
            </p>
            <%} else {%>
                <p class="logueado"> No te olvides de iniciar sesión</p>
                <%}%>

    </div>
</header>

