<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('partials/menu.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<br> 
				<form action="/" method="GET">
					<div>
						<label for="text">Nombre de usuario:</label>
						<input type="text" name="user" value="">
					</div>
					<div>
						<label for="password">Contraseña:</label>
						<input type="password" name="password" value="">
						<input type="checkbox" name="remember" value="recordarme">
					</div>
				<br>
		

			</h2>


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>