<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('partials/menu.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">INGRESAR</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<br> 
				<form action="/users/login/formulario" method="POST">
					<div>
						<label class= "form-label" for="email">Email:</label>
						<input class= "form-input" type = "email" name="email" value="">
						<!-- <label class= "form-label" for="text">Email</label>
						<input class= "form-input" type="text" name="user" value=""> -->
					
					</div>
					<div>
						<label class= "form-label" for="password">Contraseña:</label>
						<input class= "form-input" type="password" name="password" value="">
					</div>
					<div>
						<label class= "form-label" for="texto">Recordar Contraseña</label>
						<input  class= "form-input" type="checkbox" name="remember" value="recordarme">
						<% if(locals.errors){ %>
							<p class="alerta" > <%= errors.message %></p>
						<% } %>
					</div>
					<div>
						<button type="submit" class="boton-agregar-producto">Ingresar</button>
                    </div>	
				<br>
			</h2>


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>