<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs') %>

<body>
	<%- include('partials/headerLogueado.ejs') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<br> 
				<form action="/" method="get">
					<div>
						<label for="file">Cargar Archivo:</label>
						<input type="file" name="image" value="">
					</div>
					<div>
						<label for="text">Nombre del producto:</label>
						<input type="text" name="product" value="">
					</div>
					<div>
						<label for="text">Descripción:</label>
						<input type="text" name="description" value="">
					</div>
					<div>
						<label for="date">Fecha de publicación:</label>
						<input type="date" name="date" value="">
					</div>
				</form>
				<br>
				<br>
			</h2>


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>