<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
    <%- include('partials/head.ejs') %>

<body>
	<!-- Header -->
	    <%- include('partials/menu.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">AGREGAR PRODUCTOS</h2>
			</div>
			<!-- Show the "ultimos" products -->
            <h2 class="col-12">
				<br>
                <form  action="/product/productadd" method="POST" enctype="multipart/form-data">
					<div>
						<label class= "form-label"for="file">Cargar Archivo:</label>
						<input  class= "form-input" type="file" name="imagen" value="">
					</div>
					<div>
						<label class= "form-label" for="text">Nombre del producto:</label>
						<input class= "form-input" type="text" name="product" value="">
					</div>
					<div>
						<label class= "form-label" for="text">Descripción:</label>
						<input class= "form-input" type="text" name="description" value="">
					</div>
					<% if(locals.errors){ %>
						<p class="alerta" > <%= errors.message %></p>
					<% } %>
                    <div>
						<button type="submit" class="boton-agregar-producto">Añadir producto</button>
                    </div>
				</form>
				<br>
				<br>
			</h2>
			


	<!-- footer -->
        <%- include('partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>