<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('partials/menu.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">REGISTRATE</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">  <br> 
				<form action = "/register" method="POST">
					<div>
						<label class= "form-label" for="email">Email:</label>
						<input class= "form-input" type = “email” name=”email” value="">
					</div>
					<div>
						<label class= "form-label" for="text">Usuario:</label>
						<input class= "form-input"type = “text” name=”user” value="">
					</div>
					<div>
						<label class= "form-label" for="password">Contraseña:</label>
						<input class= "form-input" type = "password" name=”password” value=""> 
					</div>
					<div>
						<label class= "form-label" for="date">Fecha de nacimiento:</label>
						<input class= "form-input" type="date" name=”fechadenacimiento” value="">
					</div>	
				</form>
				 <br>
			</h2>


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>