<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('partials/menu.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">  <br> 
				<form action = “/” method=”GET”>
					<input type = “email” name=”mail” value=””>
					<input type = “text” name=”user” value=””>
					<input type = "password" name=”password” value=””> 
				  	<input type="date" name=”fechadenacimiento” value=””>
					<input type="number" name=”nrodocumento” value=””>
					<input type="file" name=”fotoperfil” value=””>
				</form>
				 <br>
			</h2>


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>