<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('partials/menu.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">REGISTRATE</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<h2 class="col-12">  <br> 
				<form action = "/users/register" method="POST" enctype="multipart/form-data">
					<div>
						<label class= "form-label" for="email">Email:</label>
						<input class= "form-input" type = "email" name="email" value="">
					</div>
					<div>
						<label class= "form-label" for="text">Usuario:</label>
						<input class= "form-input"type = "text" name="user" value="">
					</div>
					<div>
						<label class= "form-label" for="password">Contraseña:</label>
						<input class= "form-input" type = "password" name="password" value=""> 
					</div>
					<div>
						<label class= "form-label" for="date">Fecha de nacimiento:</label>
						<input class= "form-input" type="date" name="fechadenacimiento" value="">
						<% if(locals.errors){ %>
							<p class="alerta" > <%= errors.message %></p>
						<% } %>
					</div>
					<div>
						<label class= "form-label" for="file">Subir imagen de perfil</label>
						<input class= "form-input" type="file"  name="avatar" value=""> 
					</div>
					<div>
						<button type="submit" class="boton-agregar-producto">Registrarse</button>
                    </div>	
				</form>
				 <br>
			</h2>


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>